.Rproj.user
.Rhistory
.RData
.Ruserdata
./3_Day_2_Session_2/4_Output/Projections/ignore.txt
./3_Day_2_Session_2/4_Output/Selected_gamma/ignore.txt
./3_Day_2_Session_2/2_Parameters/Setup_files/ignore.txt